h1{
    color: red;
    
}

body{
    /* background-image: url("https://media.istockphoto.com/id/532177618/photo/looking-for-travel-destination-at-the-office.jpg?s=612x612&w=0&k=20&c=hJ8GlCqpM2kAAK04ey2EvmU0iKNgV6Zmxy63ika4RkI="); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../assets/travel-img.jpg);
}